{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: rgb(201, 77, 153);
    display: flex;
    margin-top: 150px;
}


.circle
{
    width: 300px;
    height: 300px;
    border: 40px solid rgba(69, 99, 104, 0.904);
    border-radius: 50%;
    margin-left: 250px;
}
.c2{
    width: 130px;
    height: 130px;
    border: 30px solid hsl(342, 77%, 28%);
    border-radius: 75%;
    margin-top: 60px;
    margin-left: 55px;
}
.leaf1{
    width: 150px;
    height: 150px;
    background-color: rgba(54, 52, 185, 0.863);
    border-radius: 0px 0px 35px 10px;
    border: 15px solid hsl(342, 70%, 18%);
    
}
.leaf2{
    width: 150px;
    height: 150px;
    background-color: rgb(52, 158, 52);
    border-radius: 0px 0px 10px 35px;
    border: 15px solid hsl(342, 70%, 18%);
    margin-left: 10px;
}
.leaf3{
    width: 150px;
    height: 150px;
    background-color: rgb(139, 19, 79);
    border-radius: 10px 35px 0px 0px;
    border: 15px solid hsl(342, 70%, 18%);
    margin-top: 190px;
    margin-left: -370px;
    
}
.leaf4{
    width: 150px;
    height: 150px;
    background-color: rgb(168, 199, 33);
    border-radius: 35px 10px 0px 0px;
    border: 15px solid hsl(342, 70%, 18%);
    margin-top: 190px;
    margin-left: 11px;
}